@font-face {
  font-family: "typewriter_condensed";
  src: url(fonts/typewcond_regular.otf) format("opentype");
}

body {
  background: linear-gradient(to top, #94cecd 70%, white 100%);
  background-repeat: no-repeat;
  height: 150vh;
}
/* navigation - all pages */

.navbar-brand {
  font-family: "Helvetica Neue";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  box-shadow: none;
}

.nav-link {
  border-top: solid 1px #ae8688;
  margin-left: 15px;
  padding: 10px;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav a {
  margin: 0px;
  font-family: "Helvetica Neue";
  font-style: italic;
  text-transform: uppercase;
  font-size: 13px;
}

h1 {
  font-family: "Helvetica Neue";
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}
h2 {
  font-family: "Helvetica Neue";
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.fts {
  color: #000;
  text-decoration: none;
}
.fts:hover {
  color: #000;
}

/* home page */

.bodyButtons {
  margin-top: 100px;
}

.frontPage {
  color: #000;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: "typewriter_condensed";
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px #000;
  transition: 300ms ease-in-out;
}

.frontPage:hover {
  color: white;
  border: solid 1px #fff;
  cursor: pointer;
}

#bookNow {
  padding: 30px 48px;
}

#loyalty {
  padding: 30px;
}

/* menu-page */

.menuBody {
  text-align: left;
  margin: 20px 50px;
}

.container {
  margin-left: -10px;
}

li {
  list-style: none;
  font-family: "typewriter_condensed";
}

.menuBody label {
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 13.5px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}

.black-content li,
ul {
  text-align: left;
}
hr {
  color: white;
  width: 90px;
  height: 1px;
  background-color: white;
  opacity: 100;
}
.black-content li {
  color: #ae8688;
}

.menuBody label:hover {
  color: #fff;
}
.menuBody input:checked ~ .black-content {
  max-height: 100%;
}
.menuBody input {
  display: none;
}
.black-content {
  max-height: 0;
  overflow: hidden;
  margin-left: -30px;
  font-size: 13px;
}
.menuBody input:checked ~ .top-content {
  max-height: 100%;
}
.menuBody input {
  display: none;
}
.top-content {
  max-height: 0;
  overflow: hidden;
  margin-left: -50px;
}

/* info page */
h3 {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: "typewriter_condensed";
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.contact-us {
  text-align: center;
  margin: 0 auto;
  font-family: "typewriter_condensed";
  font-size: 20px;
  text-transform: uppercase;
}

#contact-text-input,
#msg {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 0px;
  background: transparent;
  margin: 10px;
  color: #fff;
}

#submit {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-family: "typewriter_condensed";
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 0px;
  transition: 300ms ease-in-out;
  color: #fff;
}

#submit:hover {
  color: #fff;
  border: solid 1px #fff;
  cursor: pointer;
}

.fab {
  color: #fff;
}
footer {
  margin-top: -20px;
}
.sign-up {
  border: 1px solid #fff;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background: rgb(255, 255, 255, 0.5);
  position: fixed;
}

@media (max-width: 960px) {
  h1 {
    display: none;
  }
}

@media (min-width: 961px) {
  h2 {
    display: none;
  }

  .nav-link {
    border-top: none;
  }
}
